#menu1{
    width: 95%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-gap: 25px;
}
#count{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 60px;
}
#cart1>a{
    text-decoration: none;
    font-size: 30px;

}
a{
    color: black;
}
#count>div{
    width: 100px;
    height: 80px;
    text-align: center;
}
#div1{
    width:250px;
    height: 250px;
}
img{
    width: 100%;
    height: 100%;
}